<div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
        <a class="navbar-brand">CAC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-4">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/ejecutivo/registros" routerLinkActive="active">Registros</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" (click)="logout()">Cerrar sesion</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="row mt-3">
    <router-outlet></router-outlet>
</div>